.cardcontainerweek {
    background-color: rgb(225, 249, 224);
    padding: 40px 20px;
    width: 100rem;
    margin: 0 auto;
    max-width: 100%;
}

.container1 {
    display: flex;

}

.buyButton {
    border: none;
    outline: none;
    background-color: rgb(225, 249, 224);
}

.cardImageInsider, .cardImageWeek {
    padding-right: 20px;
    
}

.cardcontainer1 {
    padding: 40px 20px;

}

.buyButtonInsider {
    border: none;
    outline: none;
    background-color: white;
}

.buyButton:hover,
.buyButtonInsider:hover {
    text-decoration: underline;
}

.cardContent2 {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.cardweek,
.cardinsider {
    font-family: Cera-Pro, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 18.359rem;
    height: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

