.eLinkTitle {
    font-size: 2.5rem;
    line-height: 3.125rem;
}

.easterTime {
    margin: 0 auto;
    max-width: 100rem;
    width: 100%;
}

.easter {
    display: inline-grid;
}

.easterTopImg {
    display: flex;
    width: 100%;
    height: 90px;
}

.easterTopImg img {
    max-width: 100rem;
    width: 100%;
}

.easterTopTitle {
    position: relative;
    width: 100%;
    height: 90px;
}

.easterTopTitle a {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.easterTopTitle h1 {
    margin: 0;
    margin-right: 2.239rem;
    color: black;
    font-family: 'Cera-Pro-Bold';
}

.easterTopTitle a img {
    max-width: 100rem;
    height: 100%;
    width: 100%;
}

.easterTopTitle a img a {
    background-image: url("https://www.lego.com/cdn/cs/set/assets/bltcdf16b076d620106/1914-Homepage-Landing-202403-Inpage-Nav-Large.jpg?fit=crop&amp;format=jpg&amp;quality=80&amp;width=1600&amp;height=90&amp;dpr=1");
}

.eHoriImg {
    height: 100%;
    position: absolute;
}

.eTopTitleC {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eTopTitleC a {
    width: 93.109px;
    height: 40px;
    display: flex;
    text-decoration: none;
    border: 2px solid #0009;
    border-radius: 22px;
    background-clip: padding-box;
    color: black;
    align-items: center;
    text-align: center;
    font-family: 'Cera-Pro-Regular';
}

.eTopTitleC a:hover {
    background-color: #000000ab;
    color: white;
    border-color: #000000ab;
    text-decoration: underline;
    text-decoration-color: white;
}

.eTopTitleC a :first-child {
    height: auto;
    width: 100%;
    text-decoration: none;
}

.eTopTitleC a :first-child:hover {
    color: white;
}

.eTopTitleC a :nth-child(2) {
    height: auto;
    color: black;
    display: flex;
    align-items: center;
}



.easterBan {
    max-height: 31.25rem;
    height: 100%;
}

.easterBan a div img {
    width: 100%;
}

.easterBan a {

}
.easterLink {
    position: absolute;
    padding: 0px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
}

.easterLink a {
    text-decoration: none;
}

.easterLink a:hover {
    background-color: white;
    color: black;
}

.easterLink a svg {
    margin-left: 0.75rem;
    line-height: 0;
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.eLink {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 77%;
}

.eLinkTitle {
    position: relative;
    width: 33%;

}

.eLinkTitle h2 {
    margin: 0;
    text-align: center;
}

.eLinkTitle h2 span {
font-size: 2.5rem;
font-family: 'Cera-Pro-Regular';
}

.ebtn1, .ebtn2 {
    font-size: 1rem;
    line-height: 1.5625rem;
    margin-top: 1.25rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    display: flex;
    font-weight: 500;
    padding: 0.625rem 1.125rem;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-color: transparent;
    border-radius: 4px;
    font-weight: 500;
    text-transform: none;


}