.navbar {
    height: 4.688rem;
    width: 100%;
    background-color: rgb(255, 207, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burgerMenu {
    display: none;
}