.lbay {
    display: flex;
    align-items: center;
    color: black;
    font-size: 0.75rem;
    line-height: 1.1875rem;
    font-weight: 400;
    font-family: 'Cera-Pro-Light', sans-serif;
    width: 100%;
  }
  
  .reverse {
    transform: rotate(180deg);
  }
  
  .lbay button {
    border: none;
    background-color: inherit;
  }

  .lbay div {
    width: 100%;
  }
  
  .lbay button:hover {
    cursor: pointer;
  }
  
  .lbay a {
    color: #006db7;
    text-decoration: none;
    justify-content: center;
  }
  
  
  .lbay a:hover {
    text-decoration: underline;
  }
  
  .lbay svg {
    height: var(--buttonTitle);
  }
  
  .lbay div p {
    color: black;
    justify-content: center;
    text-align: center;
  display: block;
}

.lbayContent {
  transform: translateX(0%);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}

.lbayInner {
  transform: translateX(0%);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}

.lbayPara {
  transform: translateX(0%);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}