#sellingCard {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: auto;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 0;
  }

  #sellingCard li {
    background-color: white;
  }

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 18.359rem;
    height: 100%;
  }
  
  .cardContent {
    width: inherit;
    height: inherit;
    padding: 0 1px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .titleSection {
    position: absolute;
    z-index: 1;
  }
  
  .bottomImgCont {
    display: flex;
    position: absolute;
  }
  
  .cardImgCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 300px;
    border-bottom: 1px solid rgb(224, 224, 224);
  }
  
  .aImg {
    overflow: hidden;
    cursor: pointer;
  }

  .aImg div {
    position: relative;
  }
  
  .cardImage {
    width: auto;
    align-items: center;
    justify-content: center;
    transform: scale(0.91) translateZ(0px);
    transition: transform 600ms cubic-bezier(0, 0, 0.2, 1) 0s;
  }
  
  img.cardImage:hover {
    transform: scale(1) translateZ(0px);
  }
  
  .cardInfoCont {
    width: auto;
    height: 26px;
    background-color: rgb(255, 207, 0);
    position: relative;
    right: 19.5rem;
    top: 7.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .cardRateImg {
    width: 15px;
  }
  
  .cardInfoSpan {
    font-size: 0.75rem;
    display: inline-block;
    padding: 0.19rem 0.625rem;
  }
  
  .cardTitleCont {
    padding: 0.75rem 1.25rem 1.25rem;
  }
  
  .aTitle {
    padding-top: 1rem;
    text-decoration: none;
  }
  
  .h3Title {
    margin: 0;
    width: 100%;
    height: 25px;
    padding: 5px 0;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    font-family: Cera-Pro, sans-serif
  }
  
  .ratePriceCont {
    padding-top: 1rem;
  }
  
  .cardRateCont {
    margin-bottom: 0.3125rem;
    height: 15px;
  }
  
  .price {
    display: flex;
    width: 100%;
    height: 28px;
    align-items: center;
    padding-top: 1rem;
  }
  
  .cardPriceCont {
    padding-right: 12px;
    font-size: 1.125rem;
    font-weight: 700;
  }
  
  
  .productAvailability {
    width: 100%;
    height: 59px;
    padding-top: 0.4375rem;
  }
  
  .productAvailability button {
    width: 100%;
    height: 100%;
    background-color: rgb(253, 128, 36);
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(253, 128, 36);
    font-weight: 500;
    font-size: 1rem;
  }

  .productAvailability button:hover {
    background-color: white;
  }
  
  .cardList {
    position: absolute;
    bottom: 7.3rem;
    right: 16.4rem;
  }

  .cardList .nWishList button{
    background-color:transparent
  }

  .cardList svg {
    width: 15px;
    height: 13.5px;
    color: rgb(0, 109, 183);
  }