.evidenza {
    
}

.others {
    background-color: white;
}

.fullPage {

}

.border h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.75rem;
}

.pad {
    padding: 2.5rem 1.25rem;
    margin: 0 auto;
    max-width: 100rem;
    background-color: rgb(225, 249, 224);
}

.marg {
    margin: 0 auto;
    padding: 1.875rem 3.75rem 3.75rem;
    max-width: 100rem;
}

.marg li .card .cardContent .cardTitleCont {
    padding: 0;
    padding-top: 0.3125rem;
}

.marg li .card .cardContent .cardTitleCont h3 {
    padding: 0 0.3125rem;
}

.marg li .card .cardContent .cardTitleCont .ratePriceCont {
    padding: 0;
}

.marg li .card .cardContent .cardTitleCont .ratePriceCont .cardPriceCont {
    padding: 0;
}

html::-webkit-scrollbar {
    width: 20px
}